[run]
branch = True
source =
    /home/odoo/src/custom/mds-telecom/mds_splynx
    /home/odoo/src/custom/mds-telecom/mds_splynx_third_party
    /home/odoo/src/custom/mds-telecom/mds_splynx_unidigital
omit =
    */tests/*
    */__manifest__.py
    */migrations/*

[report]
show_missing = True
skip_covered = False
